<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>I've always had a love for computers growing up.  I remember taking an HTML class back in high school that I absolutely loved.  It's ironic that what I am doing is something that I enjoyed many years ago.  I love sports, spending time with friends and family, fishing, and anything outdoors.  My mindset on projects is to make sure that it is done correctly on the very first go around.  I ensure that it is done right before I put my name on it! </p>

	</div>
</div>

