<div class="app-card-container">
	<div class="card">
		<h1>Would you like to work together?</h1>

		<hr>

		<div class="row">
			<div class="col-md-6">
				<h3> Home Address </h3>

				<p> 64 N 750 E American Fork, Utah 84003 </p>
				<h3> Phone Number </h3>
				<p> <%= number_to_phone "8018914257" %> </p>

				<p><a href="mailto:13jmmq@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
				<p><a href = "https://www.linkedin.com/in/michael-quintero-8a9b48110/"> Linked In </a></p>
				<p><a href = "https://www.facebook.com/michael.quintero.52"> Facebook </a></p>

			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.387100396963!2d-111.78016688478694!3d40.378112465911364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8144b5a66edf%3A0x64378571cb78efc8!2s64+N+750+E+St%2C+American+Fork%2C+UT+84003!5e0!3m2!1sen!2sus!4v1519965478591" width="450" height="450" frameborder="1" style="border:1" allowfullscreen></iframe>
			</div>
		</div>	
	</div>
</div>	
<div class="arrow">
	<a href="about-me"<%= fa_icon "reply" %></a>
	<a href="blogs"<%= fa_icon "share" %></a>
</div>

